*{
    margin: 0;
    padding: 0;
   
    
}

main{
min-height:100vh;
}



.title{
    background-color: rgb(164, 161, 161);
    text-align: center;
    

}

.navbar a:hover{

   background-color: #497ef1;
   border-radius: 3px;
}

h2{
    font-weight: 900; 

}

.card-all{
    display: flex;
    flex-wrap: wrap;
   
}

.card:hover{
    box-shadow: 5px 5px 20px rgb(0, 0, 0.4);
    transform: translateY(-3%);
}

.card{
    margin: 15px;
}


.checkbox{
    
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: center;
   
}

.checkbox label{
    margin:20px;
}
/* footer */

footer{
    margin-top: 80px;
}
.redes a{
    margin-right: 30px;
    
}

.redes img{
    width: 30px;
}


/* stats */

table{
    border: 1px solid black;
}

.tableAll{
    margin: 50px 0;
}


/* contats */
.button{

    margin-bottom: 50px;
}

tr, td, th{
    border: 1px solid black;
}


/* DETAILS */
.details-container .card img {
    object-fit: cover;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: linear-gradient(0deg, #000000c9, var(--secondary-bg-color));
    border-radius: 5px 0 0 5px;
}



/* .darkMode{
    background-color: #161616;
    color: rgb(139, 70, 203);
} */